<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/laboratory_week4/src/uk/ac/ucl/cs/nterreri/frames/AllFrames.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="uk.ac.ucl.cs.nterreri.frames.AllFrames"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="file555 file1 file2 file3 file4"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="laboratory_week4"/>
</launchConfiguration>
